.header {
  width: 1000px;
  height: 120px;
  display: flex;
}
.logo {
  background-color: #add8e6;
  width: 200px;
  height: 120px;
}
.logo img {
  width:100%;
}
.user_info {
  width: 800px;
  height: 120px;
}

.username {
  width: 800px;
  height: 60px;
  background-color: #87ceeb;
}
.name {
  text-align: end;
  padding: 16px;
  height: 60px;

}

.last_login {
  width: 800px;
  height: 60px;
  background-color: #00ffff;
}
.login {
  text-align: end;
  padding: 16px;
  height: 60px;
}


table {
  margin-left: 100px;
  margin-top: 12px;
  border-color: #FFFF;
}

th {
  background-color: #87ceeb !important;
}
td {
  background-color: #e0ffff;
}

.footer {
  width: 1000px;
  height: 50px;
  background-color: #00ced1;
}